body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ffbf;
}

a {
  text-decoration: none;
}

.nav-wrapper a {
  color: aliceblue;
  text-decoration: none;
}

.auth-tab-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.create-form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MuiTabs-flexContainer {
  justify-content: space-between;
}
.hospital-card-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.profile-page-wrapper {
  margin: 30px 30vw;
}
.profile-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.profile-btn {
  display: flex;
  justify-content: flex-end;
}
.hospital-select-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
.create-form-element .MuiTextField-root {
  margin: 4px 3px;
  width: 18vw
}
